*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}

.common-flex{
    display: flex;
    align-items: center;
}
/* ------nav style start here------ */
header{
    position: fixed;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    padding: 10px 2%;
    justify-content: space-between;
    top: 0;
    z-index: 100;   
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.nav-right img{
    width: 22px;
    margin-right: 10px;
}
.nav-right .user-img{
    width: 35px;
    border-radius: 50%;
    margin-right: 0;
}
.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
}
.nav-left .logo{
    width: 120px;
}
.nav-medel .mic-icon{
    width: 18px;
}
.nav-medel .serch-box{
    background-color: #5a5a5a;
    margin-right: 15px;
}
.nav-medel .serch-box input{
    width: 350px;
    height: 33px;
    padding: 5px;
    background-color: #fff;
    border: 0;
    outline: 0;  
    margin: 1px 2px;
    font-size: 15px;
    border-radius: 2px;
} 

.nav-medel .serch-box img{
    width: 18px;
    margin: 5px 15px;

}
/* ------nav style end here------ */

/* -------sidebar start--------- */
.sidebar{
    width: 15%;
    height: 100vh;
    position: fixed;
    background: #fff;
    top: 0;
    margin-top: 65px;
    padding-top: 10px;
    margin-left: 15px;
}
.soartcut-links a img{
    width: 20px;
    margin-right: 20px;
}
.soartcut-links a{
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.soartcut-links a:first-child{
    color: #ed3833;
}
.soartcut-links hr{
    border: 0;
    height: 1px;
    background-color: #ccc;
    width: 85%;
}
.subscrivbed-list h3{
    font-size: 13px;
    color: #5a5a5a;
    margin: 20px 0;
}
.subscrivbed-list a{
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.subscrivbed-list a img{
    width: 25px;
    border-radius: 50%;
    margin-right: 15px;
}
.small-sidebar{
    width: 5%;
}
.small-sidebar a p{
    display: none;
}
.small-sidebar h3{
    display: none;
}
.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
}
/* -------sidebar end--------- */

/* ---------contener start------ */
.container{
    background-color: #f9f9f9;
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 65px;
    padding-bottom: 20px;
}
.large-container{
    padding-left: 7%;
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    border-radius: 8px;
}
.list-container{
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 15px;
}
.vid-list .thumbnail{
    width: 100%;
    border-radius: 5px;
}
.vid-list .common-flex{
    align-items: flex-start;
    margin-top: 7px;
}
.vid-list .common-flex img{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.vid-info{
    color: #5a5a5a;
    font-size: 14px;
}
.vid-info a{
    color: #000;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}
/* ---------contener end------ */

/* ----responsive---- */
@media (max-width: 900px){
   
    .container, .large-container{
        padding-left: 7%;
        padding-right: 5%;
    }
    
    .nav-right .user-img{
        display: block;
    }
}
@media (max-width:768px) {
    .menu-icon{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .nav-right img{
        display: none;
    }
}
@media (max-width:668px) {
    
    .nav-medel .serch-box input{
        width: 200px;
        padding: 5px;
       
    } 
    .nav-right img{
        display: block;
    }
}
@media (max-width:560px) {
    
    .nav-medel .serch-box input{
        display: none;
    } 
    .nav-right img{
        display: block;
        width: 17px;
    }
    .nav-left .logo{
        width: 90px;
    }
    .nav-medel .serch-box img{
        display: none;
    }
    .container{
        padding-left: 3%;
    }
    .nav-right .user-img{
        width: 30px;
    }
    .nav-medel .mic-icon{
        width: 15px;
    }
    .container .banner img{
        width: 100%;
        height: 90px;
        border-radius: 3px;
    }
}
/* ----responsive---- */

/* -------play video page------ */
.play-saidbar{
    width: 2%;
}
.play-container{
    padding-left: 5%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.play-video{
    flex-basis: 69%;
}
.right-saidbar{
    flex-basis: 30%;
}
.play-video video{
    width: 100%;
}
.said-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.small-tamnel{
    flex-basis: 49%;
}
.small-tamnel img{
    width: 100%;
}
.side-video-info{
    flex-basis: 49%;
}
.side-video-info a{
    font-size: 14px;
    font-weight: 600;
    width: fit-content;
}
.side-video-info p{
    font-size: 11px;
    font-weight: 300;
    color: rgb(133, 131, 131);
    width: fit-content;
}
.play-video .tags a{
    font-size: 11px;
    color: #6e6efc;
}
.play-video h3{
    font-size: 22px;
    font-weight: 600;color: #474444;
}
.play-video .play-video-inof{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    align-items: center;
}
.play-video-inof p{
    font-size: 15px;
    font-weight: 600;
    color: #8a8888;
    flex-basis: 29%;
}
.play-video-inof div{
    flex-basis: 70%;
    display: inline-flex;
    justify-content: space-between;
}
.play-video-inof div a{
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #807d7d;
}
.play-video-inof div a:first-child{
    margin-left: 0;
}
.play-video-inof div a:last-child{
    margin-left: 0;
}
.play-video-inof div a img{
    width: 22px;
    margin-right: 10px;
}
.play-video hr{
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}
.publisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.publisher .publi-div{
    display: flex;
}
.publisher div{
    flex: 1;
}
.publisher img{
    width: 55px;
    border-radius: 50%;
    margin-right: 15px;
}
.publisher div h4{
    font-weight: 600;
    color: #4b4848;
}
.publisher div p{
    font-size: 14px;
    font-weight: 550;
    color: #838080;
}
.publisher button{
    border: 0;
    outline: 0;
    background-color: #f30909;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
}
.chanel-dec p{
    padding-left: 70px;
    margin: 20px 0;
    font-size: 13px;
    color: #615b5b;
}
.chanel-dec div p{
    color: #4141f5c2;
    font-weight: 600;
    text-transform: uppercase;
    
}
.commen-start{
    display: flex;
    margin: 35px 0;
    align-items: center;
}
.commen-start p{
    font-size: 16px;
    color: #5a5a5a;
    margin-right: 35px;
    font-weight: 500;
}
.commen-start div{
    display: flex;
    
    align-items: center;
    
}
.commen-start div p{
    font-weight: 550;
    color: #817f7fc2;
    font-size: 15px;

}
.commen-start div img{
    width: 22px;
    margin-right: 10px;
    
}
.add-communt{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.add-communt div{
    background-color: #00579C;
    border-radius: 50%;
    margin-right: 10px;
}
.add-communt div h5{
    font-size: 25px;
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    
}
.add-communt input{
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    outline: 0;
}
.comments-list{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.comments-list img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.comments-list div p{
    color: rgba(41, 39, 39, 0.795);
    margin-top: 25px;
}

.comments-list div p span{
    color: rgb(155, 142, 142);
    font-size: 14px;
}
.commen-link a img{
    width: 18px;
}
.commen-link {
    margin-top: 15px;
    align-items: center;
    
}
.commen-link a{
    margin-right: 15px;
    
}
/* ------pagr responsive------- */
@media (max-width:800px) {
    .sidebar{
        display: none;
    }
}
@media (max-width:580px) {
    .play-video{
        flex-basis: 100%;
    }
    .right-saidbar{
        flex-basis: 100%;
    }
    
    .play-container{
        padding-left: 5%;
    }
}
@media (max-width:468px) {

    .play-container{
        padding-left: 1%;
        padding-right: 1%;
    }
    
    .right-saidbar{
        flex-basis: 100%;
    }
    .play-video h3{
        font-size: 16px;
    }
    .play-video-inof div a img{
        width: 11px;
        margin-right: 3px;
    }
    .play-video-inof div a{
        font-size: 11px;
        margin-right: 0px;
    }
    .play-video-inof div a:last-child{
        display: none;
    }
    .play-video-inof p{
        font-size: 11px;
    }
    .publisher img{
        width: 30px;
    }
    .chanel-dec p{
        padding-left: 45px;
    }
    .comments-list div p{
        font-size: 12px;
    }
    .comments-list img{
        width: 25px;
        margin-right: 5px;
    }
    .publisher{
        display: block;
    }
    .publisher button{
        margin-left: 110px;
        margin-top: 10px;
        padding: 5px 10px;
    }
    .chanel-dec p{
        padding-left: 20px;
    }
}

/* ------pagr responsive------- */
/* -------play video page------ */